.App{
  background-image: url(../images/main.png);
  position: relative;
  height: 100vh;
  width: 100%;
}
.background{
  width: 100%;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.597); */
}
a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  cursor: pointer;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1380px;
  height: 44px;
  padding:30px 30px  30px;
  border-bottom: 1px solid  #ffffff8e;
}

.contacts{
  display: flex;
  align-items: center;
}
.social-icons{
  border-left: 1px solid  #ffffff8e;
  border-right: 1px solid  #ffffff8e;
}
.phone-number{
  margin-left: 25px;
  font-size: 18px;
  
}
.social-icon{
  display:inline-block;
  width: 38px;
  height: 38px;
  margin-left: 15px;
  margin-right: 15px;
}
.brochure{
  display: inline-block;
  position: absolute;
  bottom:0;   
  left: 0;
  margin: 0  0 60px 40px;
  background: linear-gradient(to right, #434343 0%, black 100%);
  padding: 10px 20px;
}
.brochure span{
  text-transform: uppercase;
   font-size: 16px;
   color: #fff;
   margin-right: 15px;
}
.brochure:hover{
  cursor: pointer;
  
}
/* ------------------------------------------- */
.map{
  position: relative;
}
.map span{
  margin: 0 5px;
}
.mark{
  color: black;
  background-color: #fff;
  padding: 1px;
  font-size: 12px;
  font-weight: 600;
}
.apartments, .park, .mansions, .road{
  padding: 1px;
  color: #fff;
  background-color: black;
}
.apartments, .park, .mansions, .road:hover{
  cursor: pointer;
}
.apartments{
  display: flex;
  justify-content: space-between;
  position: absolute;
  left:52%;
  top: 110px;
}
.mansions{
  position: absolute;
  left: 10%;
  top: 370px;
}
.road{
  position: absolute;
  right: 25%;
  top: 500px;
}
.park{
  position: absolute;
  top: 350px;
  left: 35%;
}
/* =========================================================== */
.panorama{
  position: relative;
  
}

.close-mark{
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: -20px;
  width: 40px;
  height: 40px;
  color: white;
}
.view-container{
  display: flex;
  justify-content: center;
  width: 100% !important;
  max-width:1251px !important;
  margin:20px auto; 
}
/* =========================== */
.offer{
  display: flex;
  justify-content: center;
  max-width: 914px;
  height: 440px;
  position: relative;
  margin: 0 auto;

}
.offer-unique{
  background-image: url('../images/offer-background.png');
  background-repeat: no-repeat;
  color: #fff;
  width: 457px;
  padding: 95px 22px;
}
.unique-offer{
  font-family: 'Times New Roman', sans-serif;   
  font-weight: 400;
  font-style: italic;
  text-align: center;              
  font-size: 45px;
  /* width: 402px; */
  margin-bottom: 50px;
}
.offer-unique p{
  max-width: 402px;
  text-align: center;
  line-height: 24px;
  margin-bottom: 36px;
}
.offer-unique__contacts{
  display: flex;
  align-items: center;
  padding-left: 63px;
}

.offer-form{
  background-color: #000;
  width: 402px;
  padding: 48px 20px;
  margin: 0;
}
.user-box{
  display: flex;
  flex-direction: column;
}
input{
  color: #fff;
  outline: none;
  border: none;
  background-color: #000;
  border-bottom: 1px solid #fff;
  margin-bottom: 25px;
  font-size: 18px;
  padding: 10px;
}
center{
  background-color: #fff;
  padding: 14px 0;
  font-weight: 400;
  font-size: 18px;
}
center a{
  color: #000;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}