@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/times-new-roman');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.unique-offer{
  font-family: 'Times New Roman', sans-serif;                                     
}
